*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    height: 100vh;
    width: 100vw;
   display: flex;
}
.izquierda, .derecha{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.C{
    height: 50vh; 
    width: 1100px;  
    background-color: coral;
    text-align: center;
}
.D{
    height: 80vh;
    width: 1100px;
    background-color: cyan;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accion {
  background-color: darkorange;
  color: white;
  padding: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.accion:active {
  background-color: orangered;
  transform: translateY(3px);
}


.A{
    height: 30vh;
    text-align: center;
    font-size: 15px;
    padding: 1.5%;
    transition: color 1s linear;
    border: 2px solid black;
    border-radius: 10px;
    background-color: forestgreen;
    box-shadow: 5px 5px 10px rgb(20, 5, 219);
}
.A:hover{
    color: red;
}
.B{
    display: flex;
    flex: 1;
    width: 350px;
    margin-left: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-position:inside ;
    background-color: gold;
    padding: 2.5%;
    border-bottom: 2px solid rgb(43, 206, 22);
    gap: 1rem;
    transition: color 0.3s linear;
}
.B:hover{
    color: deeppink;
}
.F{
    flex: 0.39;
    height: 10vh;
    text-align: center;
    list-style-position:inside ;
    background-color: lightcoral;
}
.E{
    display: flex;
    flex-direction: column;
    height: 12vh;
    width: 140px;
    position: fixed;
    bottom: 0;
    right: 0%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.5s ease;
    background-color: rgb(4, 219, 22);
}
.E:hover{
    border-radius: 10%;
    transform: scale(1.15);
}